.app-container {
  min-height: 100vh;
  background: linear-gradient(150deg, #511ea0, #fed8e9);
}

.nav {
  background: white;
  color: #222;
  a {
    color: inherit;
  }
}

.list-container {
  width: 70%;
  margin: 100px auto; 
  max-width: 600px;
  position: relative;
}

.add-task-btn {
  float: right;
  margin: -50px 50px; 
}