@import './components/Task/_task.scss';
@import './components/NavBar/_navbar.scss';
@import './components/List/_list.scss';
@import './components/AddTask/_addtask.scss';
:root {
    --serif: 'Playfair Display', georgia, serif;
    --sans-serif: 'Lato', helvetica, system-ui;
    --purple-gradient: linear-gradient(150deg, #511ea0, #fed8e9);
}

.app-container {
    min-height: 100vh;
    background: var(--purple-gradient);
}

.del-task-btn {
    background: none;
    border: none;
    color: #fff;
}