@import './components/Task/_task.scss';
@import './components/NavBar/_navbar.scss';
@import './components/Login/_login.scss';
@import './components/List/_list.scss';
@import './components/AddTask/_addtask.scss';
:root {
  --serif: 'Playfair Display', georgia, serif;
  --sans-serif: 'Lato', helvetica, system-ui;
  --purple: #511ea0;
  --purple-gradient: linear-gradient(150deg, #511ea0, #fed8e9); // Easings
  --grey: #e3dee4;
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.app-container {
  min-height: 100vh;
  background: var(--purple-gradient);
  font-family: var(--sans-serif);
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.task-btn {
  background: none;
  border: none;
  color: #fff;
  margin: 0 0 0 4px;
  &:focus,
  &:hover {
    background: none;
  }
}

.login-btn {
  font-weight: bold;
  color: #fff;
  background: #000;
  float: right;
  &:focus,
  &:hover {
    background: #000;
  }
}

input:not([type]):focus:not([readonly]) + label,
input[type='text']:focus:not([readonly]) + label,
input[type='password']:focus:not([readonly]) + label,
input[type='email']:focus:not([readonly]) + label,
input[type='url']:focus:not([readonly]) + label,
input[type='time']:focus:not([readonly]) + label,
input[type='date']:focus:not([readonly]) + label,
input[type='datetime']:focus:not([readonly]) + label,
input[type='datetime-local']:focus:not([readonly]) + label,
input[type='tel']:focus:not([readonly]) + label,
input[type='number']:focus:not([readonly]) + label,
input[type='search']:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #000;
}
