.list-container {
    margin: 100px auto;
    max-width: 600px;
    position: relative;
    font-family: var(--sans-serif);
    @media only screen and (max-width: 667px) {
        margin: 36px auto;
    }
    ul {
        margin-top: 2rem;
    }
}