.task {
  margin: 1rem auto 0;
  color: #fff;
  font-weight: 400;
  background: var(--purple-gradient);
  font-weight: 300;
  padding: 0.5em 1em;
  border-radius: 3px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
