.login-container {
    margin: 100px auto auto;
    width: 90%;
    max-width: 700px;
    .card-content {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    .card-footer {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        align-items: flex-end;
        a {
            color: var(--purple);
        }
    }
}