:root {
  --serif: 'Playfair Display', georgia, serif;
  --sans-serif: 'Lato', helvetica, system-ui;
  --purple-gradient: linear-gradient(150deg, #511ea0, #fed8e9);
}

.app-container {
  min-height: 100vh;
  background: var(--purple-gradient);
}

.nav {
  background: white;
  color: #222;
  font-family: var(--serif);
  padding: 0.5em 1em;
  height: auto;
}

.nav .brand-logo {
  position: relative;
}

.nav a {
  color: inherit;
}

.list-container {
  margin: 100px auto;
  max-width: 600px;
  position: relative;
  font-family: var(--sans-serif);
}

.list-container ul {
  margin-top: 3rem;
}

.add-task-btn {
  float: right;
  margin: -40px 50px;
  background: #222;
}

.task {
  margin: 1rem auto 0;
  color: #fff;
  font-weight: 400;
  background: var(--purple-gradient);
  font-weight: 300;
  padding: 0.5em 1em;
  border-radius: 3px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.new-task-modal {
  max-width: 600px;
}

input.add-task-input:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.input-field {
  display: block;
}

.input-field::after {
  content: '';
  display: block;
  position: relative;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #511ea0, #fed8e9);
}
